.active-goals {
    height: 69.75vh;
    width: 100%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: -1;
}

.buttons {
    position: sticky;
    top: 0;
    height: 70px;
    width: 100%;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
}

.buttons > button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    font-size: 1rem;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: 2px solid;
}

.plus-icon {
    margin-right: 5px;
}

#new-btn {
    color: white;
    background: #6DA9E4;
    border-color: #a3cef8;
}

.goal-list {
    margin: 0 0 0 0;
    height: 100%;
}

@media (max-width: 858px) {
    .main-content {
        margin-top: 80px;
    }

    .buttons {
        top: 80px;
    }
} 