.dashboard .main-content {
    background-color: rgb(230, 230, 230);
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.dashboard .main-content> * {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.goal-count {
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 10px;
}

.goal-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.goal-info, .goal-completed, .month-info, .month-completed {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    justify-content: center;
    width: 155px;
    padding: 20px;
}

.goal-info p, .goal-chart p , .goal-completed p, .month-info p, .month-completed p {
    height: 30px;
    margin: 20px 0 0 0;
    font-size: 0.8rem;
    color: gray;
}

.goal-count, .goal-info, .goal-chart, .goal-completed, .month-info, .month-completed {
    border: 1px solid rgb(211, 211, 211);
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 5px;
    background-color: white;
}

.month-label {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: gray;
    border: 1px solid white;
    color: white;
    font-size: 0.9rem;
}

div.count {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

