.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(121, 161, 133);
}

.popup-content {
    background-color: white;
    color: black;
}