.home {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

.info {
    align-self: center;
}

.info p {
    width: 30vw;
    line-height: 2;
    text-align: center;
}

#new-goal {
    padding: 2vh 5vw;
}

a { 
    align-self: center;
}
