.calendar {
    height: 18vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1vw;
}

.tab {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgb(121, 161, 133);
    border-radius: 15px;
    height: 10vh;
    width: 10vh;
    background-color: rgb(169, 212, 182);
}

.tab h2 {
    font-size: 2rem;
}

.tab h3 {
    font-size: 1rem;
}
