.home {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
}

header {
    height: 15vh;
    background-color: rgb(121, 161, 133);
    margin: 4vh 2vw 0 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.info {
    align-self: center;
}

.info p {
    width: 30vw;
    line-height: 2;
    text-align: center;
}

#new-goal {
    padding: 2vh 5vw;
}

a { 
    align-self: center;
}
