@import url('https://fonts.googleapis.com/css2?family=Quando&family=Sanchez&display=swap');

header {
    height: 15vh;
    background: #E8DFCA;
    display: flex;
    color: black;
    justify-content: flex-start;
    align-items: center;
}

header h1 {
    width: 100%;
    justify-content: center;
    display: flex;
    align-self: center;
    justify-self: center;
}

.box {
    font-family: 'Quando', serif;
    margin: 2vw;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    padding: 1vw;
    height: 60px;
    letter-spacing: 0.2rem;
    background-color: white;
}

.box p {
    font-size: 2rem;
}
