.navigation {
    margin: 0 3vw 0 0;
    height: fit-content;
    width: 10vw;
    background-color: #E8DFCA;
    border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
    box-shadow: 20px 20px rgba(236, 203, 132, 0.15);
    position: relative;
}

.top, .bottom {
    position: absolute;
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.top {
    top: 0;
    border-top: 1px solid;
}

.bottom {
    bottom: 0;
    border-bottom: 1px solid;
}

.left-corner {
    left: 0;
    border-left: 1px solid;
}

.right-corner {
    right: 0;
    border-right: 1px solid;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 20vh 3vw 20vh 2vw;
    row-gap: 3vh;
    text-align: left;
}

.navigation a {
    width: 5vw;
    display: flex;
    justify-self: left;
    color: black;
    text-decoration: none;
}

.navigation a:hover {
    color: white;
}