.dash {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    row-gap: 4vh;
}

.time-track, .goal-track, .task-track {
    display: flex;
    background-color: rgb(84, 134, 99);
    width: 31.75%;
    height: 10vh;
    justify-content: center;
}

.track {
    display: flex;
    justify-content: space-between;
}

.track p {
    align-self: center;
    color: white;
}

.activity-chart {
    background-color: rgb(121, 161, 133);
    height: 50vh;
}