@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Sanchez';
}

.App {
    max-height: 100vh;
    overflow-y: scroll;
}

.App::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.App::-webkit-scrollbar {
    border-radius: 10px;
    width: 15px;
	background-color: #F5F5F5;
}

.App::-webkit-scrollbar-thumb {
    border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #bba37f;
}