.footer {
    height: 25vh;
    background-color:#bba37f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 60%;
}

.menu div {
    margin: 2vw 0 0 0;
    line-height: 2;
    display: flex;
    flex-direction: column;
}

.menu a {
    text-decoration: none;
    color: black;
}

section {
    height: fit-content;
}
