.active-goals {
    position: relative;
    background-color: #E8DFCA;
    width: 100%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}

.goal-card {
    border: 1px solid;

}

.form-popup {
    line-height: 2;
}

.form-popup p {
    font-size: 1.8rem;
}

.form-popup form {
    width: 35vw;
    display: flex;
    flex-direction: column;
    padding: 5vh;
}

.form-popup label {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    font-size: 1.2rem;
}

.form-popup input {
    background-color: rgb(233, 233, 233);
    height: 3vh;
    padding: 1vh;
}

.form-popup select {
    background-color: rgb(233, 233, 233);
    height: 5vh;
    padding: 1vh;
}

#form-btn {
    background-color: rgb(84, 134, 99);
    color: white;
    align-self: center;
    margin: 4vh 0 0 0;
    height: 5vh;
    width: 8vw;
}

